.authenticationTopHeader{
  font-size: x-large;
  font-weight: bolder;
}

.authenticationLink a{
  text-decoration: none;
  font-weight: 600;
  color: azure;
}

.authenticationHeader{
 display: flex;
 background-color: teal;
 color: azure;
 padding: 1em;
 justify-content: space-between;
}

.authenticationIcon{
  flex: 1;
}

